{% extends "layout.html" %}
{% block content %}
    <h1>This blog is using Flask to complete.</h1>
    <h3 style="text-align: center">If you have any questions, you can contact me by:</h3>

    <h4 style="text-align: center">Twitter:<a href="https://twitter.com/nvkaiii">@nvkaii</a></h4>
    <h4 style="text-align: center">Discord:<a href="https://discord.gg/nbN3JxhX">click to join my server</a></h4>
    <h4 style="text-align: center">Email:JOYCHEN777@163.com</h4>
<br>
    <h3 style="text-align: center;font-family: Comic Sans MS", cursive, sans-serif>>>Have a nice day!<<</h3>
{% endblock content %}
